@import url('https://fonts.googleapis.com/css2?family=Jost&family=Oswald&family=REM:wght@300&family=Roboto+Mono&family=Roboto:wght@700&family=Ubuntu:wght@300;500&display=swap');
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
